.m1-multipanel{
  overflow: hidden;
}

.m1-root{
  -webkit-user-select: none;
  left: 0px;
  position: absolute;
  top: 0px;
}

.m1-top-root{
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.m1-loading-spinner{
  float: left;
  padding: 3px 3px 3px 3px;
}

.m1-loading-text{
  display: block;
  float: left;
  max-width: 250px;
  min-height: 15px;
  padding: 10px 0px 10px 5px;
  text-align: left;
}

.m1-loading{
  display: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  top: 150px;
  vertical-align: middle;
  width: 100%;
  z-index: 99;
}

.m1-button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  color: white;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.m1-iscroll-wrapper{
  overflow: hidden;
}

.m1-root .m1-aux-hidden-div{
  display: block;
  height: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 0px;
}


  .m1-root .m1-combobox,.m1-root .m1-toolbar,.m1-root .m1-iscroll-wrapper,.m1-root .m1-map-container,.m1-root .m1-loading-text,.m1-root .m1-toggle,.m1-root .m1-button,.m1-root .m1-hyperlink,.m1-root .m1-custom-html,.m1-root .m1-video,.m1-root .m1-multipanel,.m1-root .m1-iscroll-scroller,.m1-root .m1-element,.m1-root .m1-text,.m1-root .m1-tabbar-button,.m1-root .m1-audio,.m1-root .m1-radiobutton,.m1-root .m1-loading,.m1-root .m1-multipanel-page,.m1-root .m1-tabbar,.m1-root .m1-placeholder,.m1-root .m1-hyperlink-container,.m1-root .m1-select-list-menu,.m1-root .m1-image,.m1-root .m1-homescreen-prompt,.m1-root .m1-list,.m1-root .m1-list-footer,.m1-root .m1-play-button,.m1-root .m1-video-container,.m1-root .m1-loading-spinner,.m1-root .m1-textfield,.m1-root .m1-list-header,.m1-root .m1-textarea,.m1-root .m1-video-poster-shadow,.m1-root .m1-toolbar-icon,.m1-root .m1-checkbox,.m1-root .m1-video-poster,.m1-root .m1-tabbar-button-label,.m1-root .m1-selection-list,.m1-root .m1-hyperlink-internal,.m1-root .m1-toggle5,.m1-root .m1-navbar,.m1-root .m1-list > li,.m1-root .m1-list > li > div,.m1-root .m1-list > li > img,.m1-root .m1-list > li > label,.m1-root .m1-list > li > div > img,.m1-root .m1-toggle > div,.m1-root .m1-toggle5 > div,.m1-root .m1-button > span
  {
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: block;
  float: none;
  position: relative;
  white-space: nowrap;
}

.m1-root .m1-custom-html{
  line-height: normal;
  overflow: hidden;
  white-space: normal;
}

.m1-root .m1-multipanel-page{
  display: none;
  position: absolute;
}

.m1-root .m1-selected.m1-multipanel-page{
  display: block;
}

.m1-root :focus{
  outline: none;
}

.m1-root textarea.m1-textarea{
  white-space: normal;
}

.m1-root textarea.m1-textarea.m1-placeholder{
  color: rgb(153,153,153);
}

.m1-loading > div{
  -webkit-border-radius: 8px;
  -webkit-box-sizing: border-box;
  background: rgba(0,0,0,.7);
  color: rgba(255,255,255,.8);
  display: table;
  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;
  text-align: left;
  width: auto;
}

.m1-background-1{
  background-color: rgb(192,192,192);
  background-image: none;
}

.m1-border-1{
  -webkit-border-radius: 0px;
}

.m1-background-2{
  background-color: rgba(0,0,0,0);
  background-image: none;
}

.m1-button.m1-font-1{
  color: rgb(255,255,255);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-background-3{
  background-color: rgb(0,78,149);
  background-image: none;
}

.m1-clicked.m1-button.m1-background-4{
  background-color: rgb(0,167,184);
  background-image: none;
}

.m1-clicked.m1-button.m1-active-color-1{
  color: rgb(255,255,255);
}

.m1-button.m1-font-2{
  color: rgb(255,255,255);
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.m1-background-5{
  background-color: rgb(168,34,142);
  background-image: none;
}

.m1-clicked.m1-button.m1-background-6{
  background-color: rgb(196,18,47);
  background-image: none;
}

.m1-clicked.m1-button.m1-background-7{
  background-color: rgb(0,178,203);
  background-image: none;
}

.m1-border-2{
  -webkit-border-radius: 0px;
}

.m1-button.m1-font-3{
  color: rgb(255,255,255);
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.m1-button.m1-shadow-1{
  text-shadow: rgb(64,64,64) 0px -1px 1px;
}

#m1-jena540-Mute.m1-clicked{
  -webkit-border-image: url(images/mute.png) 1 1 1 1 stretch stretch;
}

body{
  margin: 0px 0px 0px 0px;
  overflow: visible;
}

#m1-jena540-Mute{
  -webkit-border-image: url(images/unmute.png) 1 1 1 1 stretch stretch;
  border-width: 1px 1px 1px 1px;
  height: 50px;
  left: 0px;
  line-height: 48px;
  top: -287px;
  width: 50px;
}

#m1-jena540-html1{
  height: 50px;
  left: 67px;
  top: -237px;
  width: 455px;
}

#m1-jena540-VOL{
  -webkit-border-radius: 0px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 75px;
  left: 0px;
  line-height: 75px;
  text-align: center;
  top: -174px;
  width: 530px;
}

#m1-jena540-PHIN{
  -webkit-border-radius: 0px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 75px;
  left: 1030px;
  line-height: 75px;
  text-align: center;
  top: -99px;
  width: 250px;
}

#m1-jena540-PENG{
  -webkit-border-radius: 0px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 75px;
  left: 780px;
  line-height: 75px;
  text-align: center;
  top: -24px;
  width: 250px;
}

#m1-jena540-STOP{
  -webkit-border-radius: 0px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 75px;
  left: 530px;
  line-height: 75px;
  text-align: center;
  top: 51px;
  width: 250px;
}

#m1-jena540-image1{
  height: 100px;
  left: 0px;
  line-height: 100px;
  top: -520px;
  width: 1280px;
}

#m1-jena540-ALL{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -275px;
  width: 550px;
}

#m1-jena540-DEAR{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -300px;
  width: 550px;
}

#m1-jena540-MSR{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -175px;
  width: 550px;
}

#m1-jena540-COND{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -200px;
  width: 550px;
}

#m1-jena540-HP{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -225px;
  width: 550px;
}

#m1-jena540-MHX{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -175px;
  width: 550px;
}

#m1-jena540-FM{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -200px;
  width: 550px;
}

#m1-jena540-PRES{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -150px;
  width: 550px;
}

#m1-jena540-PCP{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -175px;
  width: 550px;
}

#m1-jena540-SG{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -125px;
  width: 550px;
}

#m1-jena540-FUEL{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -150px;
  width: 550px;
}

#m1-jena540-CTRL{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -100px;
  width: 550px;
}

#m1-jena540-TURB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -125px;
  width: 550px;
}

#m1-jena540-CAL{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -75px;
  width: 550px;
}

#m1-jena540-MOD{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -100px;
  width: 550px;
}

#m1-jena540-FEED{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -50px;
  width: 550px;
}

#m1-jena540-STEAM{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -75px;
  width: 550px;
}

#m1-jena540-PHT{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: -25px;
  width: 550px;
}

#m1-jena540-TB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 675px;
  line-height: 50px;
  text-align: center;
  top: -50px;
  width: 550px;
}

#m1-jena540-RB{
  -webkit-border-radius: 25px;
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 50px;
  left: 50px;
  line-height: 50px;
  text-align: center;
  top: 0px;
  width: 550px;
}

#m1-jena540-e_Equipment-box-scroller{
  border-top-color: transparent;
  border-width: 1px 0px 0px 0px;
  height: 750px;
  left: 0px;
  line-height: 40px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-jena540-e_Equipment-box{
  height: 520px;
  left: 0px;
  line-height: 520px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-jena540-e_Equipment{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-jena540-i_PHWR{
  height: 520px;
  left: 0px;
  line-height: 520px;
  top: 0px;
  width: 1280px;
}

#m1-jena540-e_flowchart-box{
  height: 520px;
  left: 0px;
  line-height: 520px;
  margin-right: 0px;
  top: 0px;
  width: auto;
}

#m1-jena540-e_flowchart{
  height: 100.0%;
  left: 0px;
  top: 0px;
  width: 100.0%;
}

#m1-jena540-jena{
  height: 520px;
  left: 0px;
  line-height: 520px;
  margin-right: 0px;
  top: 125px;
  width: auto;
}

